In [1]:
import pandas as pd
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split
import seaborn as sns

In [2]:
df = sns.load_dataset("iris")

In [3]:
df.sample(5)

     sepal_length  sepal_width  petal_length  petal_width     species
121           5.6          2.8           4.9          2.0   virginica
51            6.4          3.2           4.5          1.5  versicolor
103           6.3          2.9           5.6          1.8   virginica
86            6.7          3.1           4.7          1.5  versicolor
46            5.1          3.8           1.6          0.2      setosa

In [4]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [5]:
df.count().sum()

750

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
x = df.iloc[:, 1:-1]
y = df["species"]

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=None)

In [9]:
scaler = RobustScaler()

In [10]:
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [11]:
x_train_scaled = pd.DataFrame(x_train_scaled)
x_test_scaled = pd.DataFrame(x_test_scaled)

In [12]:
x_train_scaled.sample(5), x_test_scaled.sample(5)

(       0         1         2
 88   0.8 -0.852941 -0.785714
 26   0.2 -0.823529 -0.785714
 40  -0.6  0.205882  0.428571
 102  1.6 -0.735294 -0.642857
 34   1.2 -1.000000 -0.785714,
       0         1         2
 18  0.8 -0.823529 -0.642857
 22  0.2  0.323529  0.357143
 8  -0.8 -0.264706 -0.214286
 6   0.4  0.088235  0.071429
 20 -1.6  0.176471  0.142857)