In [1]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv("customer.csv")

In [4]:
df.sample(5)

    age  gender review education purchased
43   27    Male   Poor        PG        No
22   18  Female   Poor        PG       Yes
3    72  Female   Good        PG        No
47   38  Female   Good        PG       Yes
6    18    Male   Good    School        No