In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer  
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline 
import pickle

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.drop(columns=["PassengerId", "Name", "Ticket", "Cabin"], inplace= True)

In [5]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [6]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [26]:
x_train, x_test, y_train, y_test = train_test_split(df.drop(columns=["Survived"]), df["Survived"], test_size=0.3, random_state= 42)

In [27]:
x_train.isnull().sum()

Pclass        0
Sex           0
Age         124
SibSp         0
Parch         0
Fare          0
Embarked      1
dtype: int64

In [28]:
x_test.isnull().sum()

Pclass       0
Sex          0
Age         53
SibSp        0
Parch        0
Fare         0
Embarked     1
dtype: int64

## Imputing columns

In [29]:
trf1 = ColumnTransformer([
    ("age_imputer", SimpleImputer(strategy = "mean"), [2]),
    ("embarked_imputer", SimpleImputer(strategy="most_frequent"), [6])
],
  remainder="passthrough"  
                        )

## Encoding columns

In [31]:
# one hot encoding
trf2 = ColumnTransformer([
    ('ohe_sex_embarked',OneHotEncoder(sparse_output=False,handle_unknown='ignore'),[1,6])
],remainder='passthrough')

## Scaling columns

In [33]:
trf3 = ColumnTransformer([
    ("columns_scaler", StandardScaler(), slice(0,10))
],
    remainder= "passthrough"
)

## Model

In [35]:
trf4 = DecisionTreeClassifier()

In [36]:
pipe = Pipeline([
    ("trf1", trf1),
    ("trf2", trf2),
    ("trf3", trf3),
    ("trf4", trf4)]
)

## Training Model

In [37]:
pipe.fit(x_train, y_train)

ValueError: could not convert string to float: 'male'