In [1]:
import numpy as np

In [2]:
arr1 = np.zeros((3, 6))

In [3]:
arr1

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [4]:
arr1.ndim

2

In [9]:
arr2 = np.zeros(6).reshape(3,2)

In [10]:
arr2

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [11]:
arr2.ndim

2

In [12]:
arr3 = np.empty((2, 3, 2))

In [13]:
arr3

array([[[6.23042070e-307, 1.86918699e-306],
        [1.69121096e-306, 1.51320097e-306],
        [6.23059386e-307, 8.45593934e-307]],

       [[7.56593017e-307, 1.11261027e-306],
        [7.56603881e-307, 1.24611266e-306],
        [2.22522596e-306, 1.78021527e-306]]])

In [14]:
arr3.ndim

3

In [32]:
numeric_strings = np.array(["1.25", "-9.6", "42"], dtype = np.string_)

In [33]:
numeric_strings.dtype

dtype('S4')

In [39]:
numeric_strings.astype(float)

array([ 1.25, -9.6 , 42.  ])

In [40]:
numeric_strings.ndim

1

In [43]:
zeros_uint32 = np.zeros(8, dtype="u4")
zeros_uint32

array([0, 0, 0, 0, 0, 0, 0, 0], dtype=uint32)

In [72]:
arr = np.array([[1., 2., 3.]])
arr

array([[1., 2., 3.]])

In [ ]:
arr.ndim

In [75]:
arr = np.array([[1., 2., 3.], [4., 5., 6.]])

In [76]:
arr2 = np.array([[0., 4., 1.], [7., 2., 12.]])

In [84]:
 arr2 > arr

array([[False,  True,  True],
       [ True,  True,  True]])

In [89]:
 arr3d = np.array([[[ 1, 2, 3],
 [ 4, 5, 6]],
 [[ 7, 8, 9],
 [10, 11, 12]]])

In [87]:
arr3

array([[[6.23042070e-307, 1.86918699e-306],
        [1.69121096e-306, 1.51320097e-306],
        [6.23059386e-307, 8.45593934e-307]],

       [[7.56593017e-307, 1.11261027e-306],
        [7.56603881e-307, 1.24611266e-306],
        [2.22522596e-306, 1.78021527e-306]]])

In [94]:
x = arr3[1, 1, 1]

In [95]:
x

1.2461126608794806e-306

In [2]:
import pandas as pd

In [3]:
data = {"state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
 "year": [2000, 2001, 2002, 2001, 2002, 2003],
 "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [4]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [5]:
frame2 = pd.DataFrame(data, columns=["year", "state", "pop", "debt"])

In [6]:
frame2

   year   state  pop debt
0  2000    Ohio  1.5  NaN
1  2001    Ohio  1.7  NaN
2  2002    Ohio  3.6  NaN
3  2001  Nevada  2.4  NaN
4  2002  Nevada  2.9  NaN
5  2003  Nevada  3.2  NaN

In [16]:
val = pd.Series([-1.2, -1.5, -1.7])
frame2["debt"] = val

In [17]:
frame2

   year   state  pop  debt
0  2000    Ohio  1.5  -1.2
1  2001    Ohio  1.7  -1.5
2  2002    Ohio  3.6  -1.7
3  2001  Nevada  2.4   NaN
4  2002  Nevada  2.9   NaN
5  2003  Nevada  3.2   NaN