In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv("titanic.csv")

In [3]:
data2 = data1 = data[["Age", "Fare"]]

In [4]:
data1.head()

    Age     Fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [5]:
data2.isnull().sum()

Age     177
Fare      0
dtype: int64

In [6]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     714 non-null    float64
 1   Fare    891 non-null    float64
dtypes: float64(2)
memory usage: 14.1 KB

In [7]:
data2 = data2.dropna()

In [8]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 0 to 890
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     714 non-null    float64
 1   Fare    714 non-null    float64
dtypes: float64(2)
memory usage: 16.7 KB

In [9]:
data2.isnull().sum()

Age     0
Fare    0
dtype: int64

<h1>Training A Data Model To Fill Missing Values Based On Prediction</h1>

In [10]:
x_train = data2[["Fare"]]
y_train = data2["Age"]

In [11]:
age_predictor =LinearRegression()
age_predictor.fit(x_train, y_train)

LinearRegression()

In [12]:
missing_data2 = missing_data = data1[data1["Age"].isnull()]

In [13]:
missing_data.head()

    Age     Fare
5   NaN   8.4583
17  NaN  13.0000
19  NaN   7.2250
26  NaN   7.2250
28  NaN   7.8792

In [14]:
missing_data["Age"].isnull().sum()

177

In [15]:
missing_data.count()

Age       0
Fare    177
dtype: int64

In [16]:
x_missing = missing_data[["Fare"]]

In [17]:
x_missing.head()

       Fare
5    8.4583
17  13.0000
19   7.2250
26   7.2250
28   7.8792

In [18]:
predicted_age = age_predictor.predict(x_missing)

<h1>Filled Age Col By Prediction</h1>

In [19]:
data1.loc[data["Age"].isnull(), "Age"] = predicted_age

/tmp/ipykernel_11374/1056115158.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1.loc[data["Age"].isnull(), "Age"] = predicted_age

In [20]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     891 non-null    float64
 1   Fare    891 non-null    float64
dtypes: float64(2)
memory usage: 14.1 KB

In [21]:
data1.isnull().sum()

Age     0
Fare    0
dtype: int64

In [22]:
data1.count()

Age     891
Fare    891
dtype: int64

In [23]:
indexes = missing_data2.index
indexes

Index([  5,  17,  19,  26,  28,  29,  31,  32,  36,  42,
       ...
       832, 837, 839, 846, 849, 859, 863, 868, 878, 888],
      dtype='int64', length=177)

In [33]:
data1.iloc[indexes].sample(60)

           Age      Fare
475  30.155477   52.0000
511  28.996481    8.0500
107  28.989230    7.7750
431  29.208766   16.1000
166  30.234589   55.0000
711  29.484341   26.5500
497  29.182395   15.1000
533  29.373802   22.3583
198  28.988570    7.7500
457  30.151851   51.8625
466  28.784197    0.0000
45   28.996481    8.0500
602  29.902317   42.4000
738  28.992415    7.8958
411  28.965055    6.8583
826  30.274034   56.4958
277  28.784197    0.0000
776  28.988570    7.7500
158  29.012634    8.6625
384  28.992415    7.8958
250  28.975385    7.2500
128  29.373802   22.3583
524  28.974836    7.2292
669  30.155477   52.0000
19   28.974726    7.2250
611  28.970111    7.0500
428  28.988570    7.7500
573  28.988570    7.7500
656  28.992415    7.8958
235  28.983296    7.5500
718  29.192944   15.5000
732  28.784197    0.0000
613  28.988570    7.7500
596  29.654432   33.0000
793  29.593669   30.6958
531  28.974836    7.2292
64   29.515215   27.7208
629  28.988130    7.7333
413  28.784197    0.0000
527  34.632684  221.7792
180  30.618283   69.5500
17   29.127017   13.0000
301  29.397317   23.2500
839  29.567409   29.7000
295  29.515215   27.7208
303  29.109876   12.3500
502  28.985385    7.6292
783  29.402591   23.4500
815  28.784197    0.0000
334  32.308649  133.6500
46   29.192944   15.5000
760  29.166573   14.5000
181  29.181077   15.0500
564  28.996481    8.0500
284  29.469837   26.0000
490  29.310734   19.9667
653  28.990659    7.8292
740  29.575320   30.0000
859  28.974836    7.2292
154  28.977033    7.3125

In [36]:
data[["Age", "Fare"]].sample(60)

      Age      Fare
171   4.0   29.1250
50    7.0   39.6875
588  22.0    8.0500
216  27.0    7.9250
154   NaN    7.3125
780  13.0    7.2292
112  22.0    8.0500
733  23.0   13.0000
26    NaN    7.2250
438  64.0  263.0000
385  18.0   73.5000
850   4.0   31.2750
446  13.0   19.5000
152  55.5    8.0500
110  47.0   52.0000
115  21.0    7.9250
770  24.0    9.5000
819  10.0   27.9000
684  60.0   39.0000
31    NaN  146.5208
504  16.0   86.5000
140   NaN   15.2458
139  24.0   79.2000
48    NaN   21.6792
119   2.0   31.2750
85   33.0   15.8500
195  58.0  146.5208
739   NaN    7.8958
884  25.0    7.0500
255  29.0   15.2458
55    NaN   35.5000
731  11.0   18.7875
340   2.0   26.0000
509  26.0   56.4958
587  60.0   79.2000
136  19.0   26.2833
853  16.0   39.4000
226  19.0   10.5000
24    8.0   21.0750
77    NaN    8.0500
12   20.0    8.0500
303   NaN   12.3500
47    NaN    7.7500
205   2.0   10.4625
663  36.0    7.4958
656   NaN    7.8958
56   21.0   10.5000
767  30.5    7.7500
741  36.0   78.8500
765  51.0   77.9583
158   NaN    8.6625
298   NaN   30.5000
809  33.0   53.1000
506  33.0   26.0000
146  27.0    7.7958
247  24.0   14.5000
106  21.0    7.6500
769  32.0    8.3625
559  36.0   17.4000
790   NaN    7.7500

In [38]:
data1.iloc[[154, 31]]

           Age      Fare
154  28.977033    7.3125
31   32.648062  146.5208

In [49]:
# Potential outliars:
data[data["Fare"] >300][["Fare", "Age"]]

         Fare   Age
258  512.3292  35.0
679  512.3292  36.0
737  512.3292  35.0