In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer

In [2]:
df = pd.read_csv("titanic.csv", usecols=["Fare", "Age", "Pclass", "Survived"])

In [3]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [4]:
df.isnull().mean()*100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [5]:
x = df.iloc[:, 1:4]
y = df["Survived"]

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=None)

In [7]:
knn = KNNImputer(add_indicator=True, n_neighbors=3)

In [23]:
x_train_knn_imputed  = knn.fit_transform(x_train)
x_test_knn_imputed  = knn.fit_transform(x_test)

In [25]:
x_train_knn_imputed = pd.DataFrame(x_train_knn_imputed)
x_test_knn_imputed = pd.DataFrame(x_test_knn_imputed)

In [26]:
x_train_knn_imputed.columns = ["Pclass", "Age", "Fare", "Age_NA"]
x_test_knn_imputed.columns = ["Pclass", "Age", "Fare", "Age_NA"]

In [27]:
x_train_knn_imputed.head(10)

   Pclass        Age      Fare  Age_NA
0     3.0  16.000000    8.0500     0.0
1     3.0  19.000000    8.1583     0.0
2     3.0  51.000000    7.0542     0.0
3     3.0  18.000000   20.2125     0.0
4     3.0  22.000000    7.2500     0.0
5     1.0  40.000000   27.7208     0.0
6     3.0  19.000000    7.8958     0.0
7     3.0  21.333333    8.0500     1.0
8     2.0  27.000000   13.0000     0.0
9     1.0  23.000000  113.2750     0.0