In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MaxAbsScaler
import seaborn as sns

In [2]:
df = sns.load_dataset("iris")

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
df.count().sum()

750

In [5]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
x = df.iloc[:, 1:-1]
y = df.iloc[:, -1]

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.4, random_state=None)

In [12]:
scaler = MaxAbsScaler()

In [13]:
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [14]:
x_train_scaled = pd.DataFrame(x_train_scaled) 
x_test_scaled = pd.DataFrame(x_test_scaled)

In [19]:
x_train_scaled.sample(5), x_test_scaled.sample(5)

(           0         1     2
 16  0.547619  0.188406  0.12
 17  0.523810  0.652174  0.60
 79  0.690476  0.521739  0.52
 89  0.761905  0.188406  0.08
 2   0.666667  0.666667  0.60,
            0         1     2
 0   0.642857  0.739130  0.76
 30  0.928571  0.188406  0.16
 14  0.809524  0.217391  0.08
 37  0.595238  0.579710  0.52
 24  0.857143  0.884058  1.00)