In [1]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("customer.csv")

In [3]:
df.sample(5)

    age  gender   review education purchased
9    74    Male     Good        UG       Yes
26   53  Female     Poor        PG        No
17   22  Female     Poor        UG       Yes
16   59    Male     Poor        UG       Yes
24   16  Female  Average        PG       Yes

In [4]:
df.count()

age          50
gender       50
review       50
education    50
purchased    50
dtype: int64

In [6]:
df.isnull().sum()

age          0
gender       0
review       0
education    0
purchased    0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        50 non-null     int64
 1   gender     50 non-null     object
 2   review     50 non-null     object
 3   education  50 non-null     object
 4   purchased  50 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.1+ KB

In [13]:
df.describe()

             age
count  50.000000
mean   54.160000
std    25.658161
min    15.000000
25%    30.250000
50%    57.000000
75%    74.000000
max    98.000000

In [14]:
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:, 2:4], df.iloc[:, -1], test_size=0.2, random_state=None)

In [18]:
x_train.head()

     review education
0   Average    School
4   Average        UG
13  Average    School
39     Poor        PG
19     Poor        PG

In [20]:
y_train.head()

0      No
4      No
13     No
39     No
19    Yes
Name: purchased, dtype: object

In [22]:
oe = OrdinalEncoder(categories=[["Poor", "Average", "Good"], ["School", "UG", "PG"]])

In [30]:
x_train_encoded = oe.fit_transform(x_train)

In [31]:
x_test_encoded = oe.transform(x_test)

In [32]:
x_train_encoded

array([[1., 0.],
       [1., 1.],
       [1., 0.],
       [0., 2.],
       [0., 2.],
       [1., 0.],
       [2., 2.],
       [0., 2.],
       [2., 1.],
       [0., 1.],
       [0., 0.],
       [1., 2.],
       [2., 2.],
       [2., 0.],
       [0., 1.],
       [0., 0.],
       [0., 2.],
       [2., 2.],
       [1., 1.],
       [1., 1.],
       [0., 2.],
       [1., 1.],
       [0., 1.],
       [0., 2.],
       [2., 0.],
       [2., 0.],
       [2., 1.],
       [1., 1.],
       [2., 1.],
       [1., 2.],
       [0., 0.],
       [0., 2.],
       [2., 0.],
       [2., 2.],
       [2., 1.],
       [1., 0.],
       [1., 0.],
       [1., 2.],
       [2., 1.],
       [2., 0.]])

In [33]:
x_test_encoded

array([[2., 2.],
       [2., 2.],
       [0., 2.],
       [2., 0.],
       [0., 0.],
       [0., 2.],
       [0., 0.],
       [2., 1.],
       [1., 1.],
       [0., 1.]])

<h1>Labeling Output</h1>

In [34]:
le = LabelEncoder()

In [36]:
y_train_labeled= le.fit_transform(y_train)

In [37]:
y_test_labeled = le.transform(y_train)

In [38]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [39]:
y_train_labeled

array([0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0])

In [40]:
y_test_labeled

array([0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0])