In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv("titanic_toy.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       714 non-null    float64
 1   Fare      846 non-null    float64
 2   Family    891 non-null    int64
 3   Survived  891 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 28.0 KB

In [4]:
df.sample(5)

      Age     Fare  Family  Survived
298   NaN  30.5000       0         1
451   NaN  19.9667       1         0
870  26.0   7.8958       0         0
814  30.5   8.0500       0         0
47    NaN   7.7500       0         1

In [5]:
df.isnull().sum()

Age         177
Fare         45
Family        0
Survived      0
dtype: int64

In [6]:
x = df.drop(columns="Survived")
y = df["Survived"]

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.4, random_state=None)

In [8]:
imputer_mean = SimpleImputer(strategy="mean")
imputer_median = SimpleImputer(strategy="median")

In [9]:
trf = ColumnTransformer([
    ("Age_mean", imputer_mean, ["Age"]),
    ("Fare_median", imputer_median, ["Fare"])
],
    remainder="passthrough"
)

In [15]:
x_train = pd.DataFrame(trf.fit_transform(x_train), columns=x_train.columns)

x_test = pd.DataFrame(trf.transform(x_test), columns=x_test.columns)

In [16]:
trf.named_transformers_["Age_mean"].statistics_

array([28.78139535])

In [17]:
trf.named_transformers_["Fare_median"].statistics_

array([14.4583])

In [18]:
x_train

           Age      Fare  Family
0    28.781395    7.8958     0.0
1    58.000000  153.4625     1.0
2    32.500000   30.0708     1.0
3    18.000000   23.0000     1.0
4    28.000000   13.0000     0.0
..         ...       ...     ...
529  48.000000   76.7292     1.0
530  52.000000   78.2667     1.0
531   4.000000   29.1250     5.0
532  18.000000  108.9000     1.0
533  20.000000    9.5000     0.0

[534 rows x 3 columns]

In [19]:
x_train.isnull().sum()

Age       0
Fare      0
Family    0
dtype: int64