In [3]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import seaborn as sns

In [4]:
df = sns.load_dataset("iris")

In [5]:
df.sample(5)

     sepal_length  sepal_width  petal_length  petal_width     species
18            5.7          3.8           1.7          0.3      setosa
148           6.2          3.4           5.4          2.3   virginica
88            5.6          3.0           4.1          1.3  versicolor
115           6.4          3.2           5.3          2.3   virginica
33            5.5          4.2           1.4          0.2      setosa

In [6]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [7]:
df.count().sum()

750

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [9]:
x = df.iloc[:, 1:-1]
y = df["species"]

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=None)

In [15]:
scaler = MinMaxScaler()

In [12]:
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [13]:
x_train_scaled = pd.DataFrame(x_train_scaled)
x_test_scaled = pd.DataFrame(x_test_scaled)

In [14]:
x_train_scaled.sample(5), x_test_scaled.sample(5)

(      0         1       2
 20  2.2 -0.833333 -0.8125
 88 -0.2 -0.055556 -0.0625
 42  0.4 -0.805556 -0.7500
 18 -0.4 -0.138889 -0.0625
 27 -0.6 -0.083333 -0.0625,
       0         1       2
 34  0.8 -0.722222 -0.7500
 35 -0.4  0.027778  0.0625
 31  0.2  0.111111  0.0625
 6   0.8  0.250000  0.5625
 33 -1.2 -0.194444 -0.1875)