In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv("house_price.csv", usecols=["GarageQual", "FireplaceQu", "SalePrice"])

In [3]:
df.head()

  FireplaceQu GarageQual  SalePrice
0         NaN         TA     208500
1          TA         TA     181500
2          TA         TA     223500
3          Gd         TA     140000
4          TA         TA     250000

In [4]:
df.isnull().mean()*100

FireplaceQu    47.260274
GarageQual      5.547945
SalePrice       0.000000
dtype: float64

In [16]:
x_train, x_test, y_train, y_test = train_test_split(df.drop(columns=["SalePrice"]), df["SalePrice"], test_size=0.3, random_state= None)

In [17]:
imputer = SimpleImputer(strategy="most_frequent")

In [18]:
x_train_imputed = imputer.fit_transform(x_train)
x_test_imputed = imputer.transform(x_test)

In [19]:
imputer.statistics_

array(['Gd', 'TA'], dtype=object)